# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment
.env/
venv/

# IDE
.vscode/
.idea/

# System
.DS_Store

# Outputs (keep structure but ignore content)
outputs/*
!outputs/.gitkeep
